
@{
    ViewBag.Title = "ResetCommand";
    Layout = "~/Views/Shared/_Documentation.cshtml";
}

<h2>ResetCommand</h2>
<ul class="nav nav-pills">
    <li><a href="#execution">Execution</a> </li>
    <li><a href="#description">Description</a> </li>
    <li><a href="#request">Request</a></li>
    <li><a href="#response">Response</a></li>
    <li><a href="#example">Example</a></li>
</ul>

<!-- Execution -->
<h3 id="execution">Execution</h3>
<div class="assnormalbox">
    <div class="table-responsive">
        <div class="bs-example">
            <table class="table table-hover dashtable table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th> Online </th>
                        <th> Offline </th>
                    </tr>
                    <tr>
                        <td> Immediate Execution, Published Results </td>
                        <td> Queued Execution, Published Results </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="clear"></div>

<!-- Description -->
<h3 id="description">Description</h3>
<p>
    ResetCommand instructs the device to power cycle.
</p>

<!-- Request -->
<h3 id="request">Request</h3>
<div class="assnormalbox">
    <div class="table-responsive">
        <div class="bs-example">
            <table class="table table-hover dashtable table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th> Name </th>
                        <th> Description </th>
                        <th> Required </th>
                    </tr>
                    <tr>
                        <td> AccessKey </td>
                        <td> The AccessKey for your user account. </td>
                        <td> Yes </td>
                    </tr>
                    <tr>
                        <td> Action </td>
                        <td> ResetCommand </td>
                        <td> Yes </td>
                    </tr>
                    <tr>
                        <td> LogicalDeviceId </td>
                        <td> The logical device identifier from <a href="/AddLogicalDevice">AddLogicalDevice</a>. </td>
                        <td> Yes </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="clear"></div>

<!-- Response -->
<h3 id="response"> Response</h3>
<div class="assnormalbox">
    <div class="table-responsive">
        <div class="bs-example">
            <table class="table table-hover dashtable table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th> Code </th>
                        <th> Name </th>
                        <th> Description </th>
                    </tr>
                    <tr>
                        <td> 200 </td>
                        <td> Success </td>
                        <td> Indicates that the request is successful. </td>
                    </tr>
                    <tr>
                        <td> 400 </td>
                        <td> InvalidParameter </td>
                        <td> Indicates that a request parameter does not comply with the associated constraints. </td>
                    </tr>
                    <tr>
                        <td> 401 </td>
                        <td> Unauthorized </td>
                        <td> Indicates that the user has been denied access to the requested resource. </td>
                    </tr>
                    <tr>
                        <td> 500 </td>
                        <td> InternalError </td>
                        <td> Indicates an internal service error. </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="pull-right">
    <button class="btn btn-default btn-mini" type="button"><i class="glyphicon glyphicon-download"></i> Download</button>
</div>
<div class="tab-img"><img src="images/ResetCommand.png" alt=""></div>

<!-- Example -->
<h3 id="example">Example</h3>
<p>Request</p>
<pre>https://solstice.tersosolutions.com/v1.5/application/?
         AccessKey=MyAccessKey
         &amp;Action=ResetCommand
         &amp;LogicalDeviceId=MyLogicalDeviceId</pre>
<p>Response</p>
<pre>&lt;Solstice xmlns="http://Solstice.TersoSolutions.com/v1.5/CommandResponse"&gt;
         &lt;Header/&gt;
         &lt;CommandResponse CommandId="0e90e138-cc38-4743-9f51-ac24d852d842"  &gt;
         &lt;OutputParameterList /&gt;
         &lt;ExceptionList/&gt;
         &lt;DeviceExtensionList /&gt;
         &lt;CommandResponse/&gt;
         &lt;/Solstice&gt;</pre>
<p>Published CommandQueuedEvent</p>
<pre>&lt;Solstice xmlns="http://Solstice.TersoSolutions.com/v1.5/CommandQueuedEvent"&gt;
         &lt;Header EventId="aef2368f-1d66-4ab3-8a7e-8f26f1104e83" EventTime="2012-10-05T19:19:45Z"
         LogicalDeviceId="MyLogicalDeviceId" /&gt;
         &lt;CommandQueuedEvent CommandId="0e90e138-cc38-4743-9f51-ac24d852d842" 
         CommandName="ResetCommand" UserName="MyUserName"&gt;
         &lt;ParameterList /&gt;
         &lt;/CommandQueuedEvent&gt;
         &lt;/Solstice&gt;</pre>
<p>Published CommandCompletionEvent</p>
<pre>&lt;Solstice xmlns="http://Solstice.TersoSolutions.com/v1.0/CommandCompletionEvent"&gt;
         &lt;Header EventId="5910078b-fc25-48c1-aee2-3744e3219a3d" EventTime="2012-10-05T19:47:03Z"
         ReceivedTime="2012-10-05T19:47:03Z"/&gt;
         &lt;CommandCompletionEvent CommandId="0e90e138-cc38-4743-9f51-ac24d852d842"&gt;
         &lt;OutputParameterList/&gt;
         &lt;ExceptionList/&gt;
         &lt;DeviceExtensionList /&gt;
         &lt;/CommandCompletionEvent&gt;
         &lt;/Solstice&gt;</pre>

