@{
    ViewBag.Title = "Solstice Contact";
    Layout = "~/Views/Shared/_External.cshtml";
}

<!--slider area start-->
<div class="inner-slider-area">
    <div class="container">
        <div class="inner-text-slide">
            <h1>Contact</h1>
        </div>
    </div>
</div>
<!--slider area end-->
<!--body area start-->
<section class="container">
    <div class="maindocinnerpan">
        <div class="contact">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>SEND US A MESSAGE</h2>
                    <div class="sub-heading"><p>Feel free to drop us a line with any questions you have on Solstice Medical.</p></div>
                    <div class="contact-form">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input type="text" name="" id="" value="First Name" placeholder="First Name" class=" contact-input" onblur="if(this.value == '') { this.value='First Name'}" onfocus="if (this.value == 'First Name') {this.value=''}">
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input type="text" name="" id="" value="Last Name" placeholder="Last Name" class="contact-input" onblur="if(this.value == '') { this.value='Last Name'}" onfocus="if (this.value == 'Last Name') {this.value=''}">
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input type="text" name="" id="" value="Mobile" placeholder="Mobile" class="contact-input" onblur="if(this.value == '') { this.value='Mobile'}" onfocus="if (this.value == 'Mobile') {this.value=''}">
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input type="text" name="" id="" value="Email" placeholder="Email" class="contact-input" onblur="if(this.value == '') { this.value='Email'}" onfocus="if (this.value == 'Email') {this.value=''}">
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <textarea cols="" rows="" name="" id="" value="Description" placeholder="Description" class="contact-textarea" onblur="if(this.value == '') { this.value='Description'}" onfocus="if (this.value == 'Description') {this.value=''}"></textarea>
                            </div>

                            <div class="col-lg-6"><input type="submit" name="" id="" value="Submit" class="submitbtncontact clear"></div>

                        </div>


                    </div>

                </div><!-- col -->

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>Contact Information</h2>
                    <div class="sub-heading">
                        <p>
                            We are  very approachable  and would love to spek to you. Feel free to
                            call, send us email and Tweet us.
                        </p>
                    </div>

                    <div class="contact-address">
                        <p><strong>Address:</strong></p>
                        <p>
                            <strong>Solstice Medical, LLC</strong><br>
                            4394 East Park 30 Drive Columbia City, IN 46725
                        </p>
                        <p><strong>Phone : (260) 399-1625</strong></p>
                        <p><strong>Email :</strong> <a href="mailto:Sales@SolsticeMedical.com">Sales@SolsticeMedical.com </a></p>
                    </div>

                </div><!-- col -->

            </div><!-- row -->

        </div>

    </div>
</section>
<!--body area end-->
