@{
    ViewBag.Title = "Solstise";
    Layout = "~/Views/Shared/_External.cshtml";
}

<div class="slider-area">
    <div class="container">
        <div class="text-slide">
            <h1>RFID Open, Everywhere, Simplified</h1>
            <p>
                Solstice Medical is the proven cloud platform that enables software companies
                and enterprises to add distributed RFID capabilities quickly through simple<br>
                programming interfaces.
            </p>
            <div class="start-addingbut"><a href="/SignUp" style="color: white;">Start adding RFID to your application</a></div>
        </div>
    </div>
</div>
<section class="container">
    <div class="body-pan">
        <h2>What You'll Get</h2>
        <div class="col-lg-6">
            <div class="brdarea">
                <div class="body-block">
                    <div class="img-block-area"> <img src="images/lock0icon.jpg" width="113" height="102" alt=""></div>
                    <div class="blocktextarea">
                        <h3>Open Platform</h3>
                        <p>Avoid the constraints from closed systems you cannot control. No one knows your software, business and customers better than you do. Add RFID capabilities your way. Use Solstice Data™'s open source projects and developer tools to get there faster. Solstice Data™ is open for business.</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="border-block"></div>
            <div class="brdarea">
                <div class="body-block pad-top">
                    <div class="img-block-area"> <img src="images/provenleader-icon.jpg" width="113" height="102" alt=""></div>
                    <div class="blocktextarea">
                        <h3>Proven leader</h3>
                        <p>Terso pioneered distributed RFID technology in 2001, growing to provide RFID support for over 30 countries worldwide. Our Solstice Data™ platform has become the de facto RFID standard for life science and medical partners allowing them to provide rich RFID capabilities rapidly on a proven foundation.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="body-block">
                <div class="img-block-area"> <img src="images/managment-icon.jpg" width="113" height="102" alt=""></div>
                <div class="blocktextarea">
                    <h3>Remote management</h3>
                    <p>Inventory is everywhere and it's not in your datacenter. The further inventory is from you, the more value RFID has. Use Solstice Data™ to manage RFID devices across the planet. Upgrade a RFID portal in a Chicago stockroom, assign access to a RFID cabinet in Singapore.</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="border-block"></div>
            <div class="body-block pad-top">
                <div class="img-block-area"> <img src="images/intaracts-icon.jpg" width="113" height="102" alt=""></div>
                <div class="blocktextarea">
                    <h3>simply interfaces</h3>
                    <p>Solstice Data™ has painstakingly simplified RFID EE specifications into a developer friendly REST interface. We've also abstracted the differences between RFID devices in to one easy to use specification. All of this allows you to focus on your application and not the underlying RFID hardware.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clear"></div>
<section class="testimonials-block">
    <div class="container">
        <div class="testimonials-slide">
            <h2>Testimonials</h2>
            <div class="testi-slider">
                <div class="bx-wrapper" style="max-width: 100%;">
                    <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 116px;">
                        <ul class="slider1" style="width: 315%; position: relative; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-1140px, 0px, 0px);">
                            <li style="float: left; list-style: none; position: relative; width: 1140px;" class="bx-clone">
                                <img src="images/testimonial-img01.jpg" width="57" height="58" alt="">
                                <p>
                                    <strong>Jim Sipi </strong>:: Solctise is a very simple yet extremely powerful toolset that makes integrating other software systems<br>
                                    with Terso’s RFID cabinets quick and easy.
                                </p>
                            </li>
                            <li style="float: left; list-style: none; position: relative; width: 1140px;">
                                <img src="images/testimonial-img01.jpg" width="57" height="58" alt="">
                                <p>
                                    <strong>Jim Sipi </strong>:: Solctise is a very simple yet extremely powerful toolset that makes integrating other software systems<br>
                                    with Terso’s RFID cabinets quick and easy.
                                </p>
                            </li>
                            <li style="float: left; list-style: none; position: relative; width: 1140px;" class="bx-clone">
                                <img src="images/testimonial-img01.jpg" width="57" height="58" alt="">
                                <p>
                                    <strong>Jim Sipi </strong>:: Solctise is a very simple yet extremely powerful toolset that makes integrating other software systems<br>
                                    with Terso’s RFID cabinets quick and easy.
                                </p>
                            </li>
                        </ul>
                    </div><div class="bx-controls bx-has-pager bx-has-controls-direction"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div></div><div class="bx-controls-direction"><a class="bx-prev disabled" href="">Prev</a><a class="bx-next disabled" href="">Next</a></div></div>
                </div>
            </div>
        </div>
    </div>
</section>


