@{
    ViewBag.Title = "Solstise Case Studies";
    Layout = "~/Views/Shared/_External.cshtml";
}
<!--slider area start-->
<div class="inner-slider-area">
    <div class="container">
        <div class="inner-text-slide">
            <h1>case Studies</h1>
        </div>
    </div>
</div>
<!--slider area end-->
<!--body area start-->
<section class="container">
    <div class="innerbodypan">
        <ul class="casearea">
            <li>
                <h3>Global Management of Consignment Inventory</h3>
                <div class="subcasetxt">
                    <ul>
                        <li>Company: Promega</li>
                        <li>Website: www.promega.com/helix</li>
                        <li>Software: SAP®</li>
                        <li>Platform: Solstice Data™</li>
                        <li>Devices: Terso RFID Storage</li>
                    </ul>
                </div>
                <p>Promega is the largest privately held biotech company in the world with branches in 15 countries and more than 50 global distributors serving 100 countries. Promega products are used by life scientists who are asking fundamental questions about biological processes as well as by scientists who are applying scientific knowledge to diagnose and treat diseases, discover new therapeutics, and use genetics and DNA testing for human identification.</p>

                <p>The Promega Helix on-site stocking solution was developed to provide reagents and supplies scientists need where they need them and when they need them without causing disruption in their lab’s sample analysis process. This smart solution occurs from the scientist obtaining regents and supplies with a simple swipe of a card all the way to the accurate and automated invoicing. Not only that, but there is also automatic supply replenishment with secure access to eliminate reagent spoilage and misuse. Finally – 24/7 access to supplies so scientists can conduct research on their own timetable.</p>

                <p>Helix uses Solstice Data™ together with SAP® to automatically manage onsite consignment stock around the world. The Helix solution enables Promega to provide unmatched customer value while maximizing operational efficiencies</p>
            </li>
            <li>
                <h3>Medical Implant Regulatory Compliance</h3>
                <div class="subcasetxt">
                    <ul>
                        <li>Company: Champion Medical Technologies</li>
                        <li>Website: www.championmt.com</li>
                        <li>Software: UDITracker®</li>
                        <li>Platform: Solstice Data™</li>
                        <li>Devices: Terso RFID Storage</li>
                    </ul>
                </div>
                <p>Promega is the largest privately held biotech company in the world with branches in 15 countries and more than 50 global distributors serving 100 countries. Promega products are used by life scientists who are asking fundamental questions about biological processes as well as by scientists who are applying scientific knowledge to diagnose and treat diseases, discover new therapeutics, and use genetics and DNA testing for human identification.</p>

                <p>The Promega Helix on-site stocking solution was developed to provide reagents and supplies scientists need where they need them and when they need them without causing disruption in their lab’s sample analysis process. This smart solution occurs from the scientist obtaining regents and supplies with a simple swipe of a card all the way to the accurate and automated invoicing. Not only that, but there is also automatic supply replenishment with secure access to eliminate reagent spoilage and misuse. Finally – 24/7 access to supplies so scientists can conduct research on their own timetable.</p>

                <p>Helix uses Solstice Data™ together with SAP® to automatically manage onsite consignment stock around the world. The Helix solution enables Promega to provide unmatched customer value while maximizing operational efficiencies</p>
            </li>
        </ul>
    </div>
</section>
<!--body area end-->
<div class="clear"></div>

