
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--slider area start-->
<div class="admin-nav-area">
    <div class="container">
        <div class="dash-nav">
            <h3>Support</h3>
            <div class="iconarea">
                <ul>
                    <li><a href="/Device" title="Device"><img src="~/images/navico1.png" alt=""></a></li>
                    <li><a href="#" title="Events"><img src="~/images/navico2.png" alt=""></a></li>
                    <li><a href="/Simulator" title="Simulator"><img src="~/images/navico3.png" alt=""></a></li>
                    <li><a href="#" title="Support"><img src="~/images/navico4.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--slider area end-->
