@*@model IEnumerable<SolsticeDataServices.DAL.Entities.Device>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    //var devices = ViewBag.Devices;
    //int i = devices.Count;
    string a = null;
}


<style type="text/css">
    .link-header {
        color: white;
        text-decoration: underline;
    }
</style>
<!--slider area start-->

<div class="admin-nav-area">
    <div class="container">
        <div class="dash-nav">
            <h3>My dashboard</h3>
            <div class="iconarea">
                <ul>
                    <li><a href="/Device" title="Device"><img src="~/images/navico1.png" alt=""></a></li>
                    <li><a href="#" title="Events"><img src="~/images/navico2.png" alt=""></a></li>
                    <li><a href="/Simulator" title="Simulator"><img src="~/images/navico3.png" alt=""></a></li>
                    <li><a href="#" title="Support"><img src="~/images/navico4.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--slider area end-->
<!--body area start-->
<section class="container">
    <div class="adminbodypan">
        <div class="col-lg-6  col-md-6">
            <div class="leftarea">
                <div class="assbox">
                    <h4 style="height:40px; vertical-align:central;"><a class="link-header" href="/Device">Devices</a></h4>
                    <div class="table-responsive">
                        <div style="overflow: scroll; height: 240px;">
                            @Html.Partial("DashboardDevicePartialView")
                        </div>
                    </div>
                </div>
                <div class="dashbdr"></div>
                <div class="assbox">
                    <h4 style="height:40px"><a class="link-header" href="/Simulator">Simulator</a></h4>
                    <div style="overflow:scroll;height:240px">
                        <ul class="arrowcont">
                            <li>AggregateEvents</li>
                            <li>CommandCompletionEvents</li>
                            <li>CommandQueuedEvents</li>
                            <li>ObjectEvents</li>
                        </ul>
                        <div class="table-responsive">
                            <div class="bs-example">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-hover table table-striped table-bordered simtable">
                                    <tbody>
                                        <tr>
                                            <td align="left" valign="top" width="30%" class="headtabletxt">EventTime</td>
                                            <td align="left" valign="top" width="30%" class="headtabletxt">LogicalDevicesID</td>
                                            <td align="left" valign="top" width="40%" class="headtabletxt">Type</td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" width="30%">11/11/2014 3:16 PM</td>
                                            <td align="left" valign="top" width="30%">100</td>
                                            <td align="left" valign="top" width="40%">CommandCompletionEvent</td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" width="30%">11/11/2014 3:16 PM</td>
                                            <td align="left" valign="top" width="30%">100</td>
                                            <td align="left" valign="top" width="40%">CommandCompletionEvent</td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" width="30%">11/11/2014 3:16 PM</td>
                                            <td align="left" valign="top" width="30%">100</td>
                                            <td align="left" valign="top" width="40%">CommandCompletionEvent</td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" width="30%">11/11/2014 3:16 PM</td>
                                            <td align="left" valign="top" width="30%">100</td>
                                            <td align="left" valign="top" width="40%">CommandCompletionEvent</td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" width="30%">11/11/2014 3:16 PM</td>
                                            <td align="left" valign="top" width="30%">100</td>
                                            <td align="left" valign="top" width="40%">CommandCompletionEvent</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="rightarea">
                <div class="assbox">
                    <h4 style="height:40px">Status</h4>
                    <ul class="arrowcont">
                        <li>Solstice Medical API</li>
                        <li>Solstice Medical US Server</li>
                        <li>Solstice Medical EU Server</li>
                        <li>Solstice Medical AP Server</li>
                    </ul>
                </div>
                <div class="dashbdr"></div>
                <div class="assbox">
                    <h4 style="height:40px">Support</h4>
                    <ul class="arrowcont">
                        <li>AggregateEvents</li>
                        <li>CommandCompletionEvent</li>
                        <li>Heartbeat Event</li>
                        <li>LogEntry Event</li>
                        <li>ObjectEvent</li>
                        <li>SensorReadinf Event</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--body area end-->
<div class="clear"></div>

