<div class="col-lg-3 col-md-3 col-sm-3">
    <ul id="Menu" class="nav nav-tabs categories col-lg-12">
        <li class="cat-heading"><h3>Commands</h3></li>
        <li><a href="/DeviceSpecificCommand">DeviceSpecificCommand</a></li>
        <li><a href="/GetConfigValuesCommand">GetConfigValuesCommand</a></li>
        <li><a href="/GetEPCListCommand">GetEPCListCommand</a></li>
        <li><a href="/ResetCommand">ResetCommand</a></li>
        <li><a href="/SetConfigValuesCommand">SetConfigValuesCommand</a></li>
        <li class="no-border"><a href="/UpdateFirmwareCommand">UpdateFirmwareCommand</a></li>

        <li class="cat-heading"><h3>Configuration</h3></li>
        <li><a href="/AddDeviceToPolicy" >AddDeviceToPolicy</a></li>
        <li><a href="/AddLogicalDevice">AddLogicalDevice</a></li>
        <li><a href="/AddPolicy">AddPolicy</a></li>
        <li><a href="/GetConfiguration">GetConfiguration</a></li>
        <li><a href="/GetDeviceDefinitions">GetDeviceDefinitions</a></li>
        <li><a href="/GetDeviceStatus">GetDeviceStatus</a></li>
        <li><a href="/GetPolicies">GetPolicies</a></li>
        <li><a href="/RemoveDeviceFromPolicy" >RemoveDeviceFromPolicy</a></li>
        <li><a href="/RemoveLogicalDevice">RemoveLogicalDevice</a></li>
        <li><a href="/RemovePolicy" >RemovePolicy</a></li>

        <li class="cat-heading"><h3>Messaging</h3></li>
        <li><a href="#tab17" data-toggle="tab">GetEvents</a></li>
        <li><a href="#tab18" data-toggle="tab">RemoveEvents</a></li>

        <li class="cat-heading"><h3>Events</h3></li>
        <li><a href="/AggregateEvent">AggregateEvent</a></li>
        <li><a href="/CommandCompletionEvent">CommandCompletionEvent</a></li>
        <li><a href="/CommandQueuedEvent">CommandQueuedEvent</a></li>
        <li><a href="#tab23" data-toggle="tab">DeviceFailureEvent</a></li>
        <li><a href="#tab24" data-toggle="tab">DeviceRestoreEvent</a></li>
        <li><a href="#tab25" data-toggle="tab">HeartbeatEvent</a></li>
        <li><a href="#tab26" data-toggle="tab">LogEntryEvent</a></li>
        <li><a href="#tab27" data-toggle="tab">LogicalDeviceAddedEvent</a></li>
        <li><a href="#tab28" data-toggle="tab">LogicalDeviceRemovedEvent</a></li>
        <li><a href="#tab29" data-toggle="tab">ObjectEvent</a></li>
        <li class="no-border"><a href="#tab30" data-toggle="tab">SensorReadingEvent</a></li>

        <li class="cat-heading"><h3>Devices</h3></li>
        <li class="no-border"><a href="#tab31" data-toggle="tab">RFID Enclosures</a></li>

    </ul>
</div>
