@{
    ViewBag.Title = "Solstice Tools";
    Layout = "~/Views/Shared/_External.cshtml";
}

<!--slider area start-->
<div class="inner-slider-area">
    <div class="container">
        <div class="inner-text-slide">
            <h1>Tools</h1>
        </div>
    </div>
</div>
<!--slider area end-->
<!--body area start-->
<section class="container">

    <div class="innerbodypan">



        <ul class="nav nav-tabs" id="tab_tools">
            <li class="active"><a data-toggle="tab" href="#tabgeneral">General</a></li>
            <li class=""><a data-toggle="tab" href="#tabmsnet">Microsoft .NET</a></li>
            <li class=""><a data-toggle="tab" href="#tabjava">Java</a></li>
        </ul>


        <div class="tab-content">
            <div id="tabgeneral" class="tab-pane active">

                <ul class="casearea">
                    <li>
                        <p class="first">
                            Tools applicable to creating a Solstice Data™ application on any platform and any
                            language.
                        </p>
                        <h3>Files</h3>

                        <div class="assnormalbox">
                            <div class="table-responsive">
                                <div class="bs-example">
                                    <table class="table table-hover dashtable table table-striped table-bordered">

                                        <tbody>
                                            <tr>
                                                <th> Name </th>
                                                <th> Description </th>
                                                <th>&nbsp; </th>
                                            </tr>
                                            <tr>
                                                <td> Solstice Data_Developers_Guide.pdf </td>
                                                <td>
                                                    Document that gives you a high level overview of Solstice Data™ and the basics
                                                    to get started and begin developing your application.
                                                </td>
                                                <td align="right">
                                                    <button class="btn btn-default btn-mini" aria-label="Left Align" type="button">
                                                        <a href="#"><i class="glyphicon glyphicon-download"> </i> Download</a>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> Solstice DataXSDs.zip </td>
                                                <td> All XSD schema files for REST responses and events wrapped up in a zip file. </td>
                                                <td align="right">
                                                    <button class="btn btn-default btn-mini" aria-label="Left Align" type="button">
                                                        <a href="#"><i class="glyphicon glyphicon-download"> </i> Download</a>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> EnclosureUseCases.docx </td>
                                                <td>
                                                    Use cases describing the actions an actor can take on an RFID enclosure and the
                                                    behavior of Solstice Data™ when they occur.
                                                </td>
                                                <td align="right">
                                                    <button class="btn btn-default btn-mini" aria-label="Left Align" type="button">
                                                        <a href="#"><i class="glyphicon glyphicon-download"> </i> Download</a>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </li>

                    <li>
                        <h3> Links</h3>

                        <div class="links">

                            <p>
                                <a href="#">Solstice Data™ Github Source Repository</a><br>
                                Open source projects started by Terso for Solstice Data™ including an Event service, Solstice Data™ SDK and Solstice Data™ developer reference application licensed under Apache 2.0.
                            </p>
                        </div>

                    </li>

                </ul>

            </div>

            <div id="tabmsnet" class="tab-pane">

                <ul class="casearea">
                    <li>
                        <p class="first">
                            Tools applicable to creating a Solstice Data™ application on the Microsoft .NET
                            framework version 4.0.
                        </p>
                        <h3>Files</h3>

                        <div class="assnormalbox">
                            <div class="table-responsive">
                                <div class="bs-example">
                                    <table class="table table-hover dashtable table table-striped table-bordered">

                                        <tbody>
                                            <tr>
                                                <th> Name </th>
                                                <th> Description </th>
                                                <th>&nbsp; </th>
                                            </tr>
                                            <tr>
                                                <td> Solstice DataSDK-.NET.zip </td>
                                                <td>
                                                    Zip file containing a release version of the Solstice DataSDK.dll, XML documentation
                                                    and 3rd party references.
                                                </td>
                                                <td align="right">
                                                    <button class="btn btn-default btn-mini" aria-label="Left Align" type="button">
                                                        <a href="#"><i class="glyphicon glyphicon-download"> </i> Download</a>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> Solstice DataSDK-.NET_ReferenceApp.zip </td>
                                                <td> A reference project showing basic Solstice Data™SDK-.NET functionality </td>
                                                <td align="right">
                                                    <button class="btn btn-default btn-mini" aria-label="Left Align" type="button">
                                                        <a href="#"><i class="glyphicon glyphicon-download"> </i> Download</a>
                                                    </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </li>

                    <li>
                        <h3> Links</h3>

                        <div class="links">

                            <p>
                                <a href="#">Solstice DataSDK-.NET Github Source Repository</a><br>
                                Open source projects started by Terso for Solstice Data™ including the Solstice Data SDK and Solstice Data developer reference application licensed under Apache 2.0.
                            </p>
                        </div>

                    </li>

                    <li>
                        <h3> Prerequisites </h3>
                        <ul class="normal-ul">
                            <li>Microsoft .NET Framework 4.0 or higher</li>
                            <li>Visual Studio 2010 or higher</li>
                            <li>Newtonsoft.Json v4.5r8</li>
                        </ul>
                    </li>

                </ul>


            </div>



            <div id="tabjava" class="tab-pane">

                <ul class="casearea">
                    <li>
                        <p class="first"> Tools applicable for creating a Solstice Data™ application on Java.</p>
                        <h3>Files</h3>

                        <div class="assnormalbox">
                            <div class="table-responsive">
                                <div class="bs-example">
                                    <table class="table table-hover dashtable table table-striped table-bordered">

                                        <tbody>
                                            <tr>
                                                <th> Name </th>
                                                <th> Description </th>
                                                <th>&nbsp; </th>
                                            </tr>
                                            <tr>
                                                <td> Solstice DataSDK-Java.zip </td>
                                                <td> A Java project containing easy to use objects for interfacing with the Solstice Data API.  </td>
                                                <td align="right">
                                                    <button class="btn btn-default btn-mini" aria-label="Left Align" type="button">
                                                        <a href="#"><i class="glyphicon glyphicon-download"> </i> Download</a>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> Solstice DataSDK-Java_ReferenceApp.zip </td>
                                                <td> A reference project showing basic Solstice DataSDK-Java functionality </td>
                                                <td align="right">
                                                    <button class="btn btn-default btn-mini" aria-label="Left Align" type="button">
                                                        <a href="#"><i class="glyphicon glyphicon-download"> </i> Download</a>
                                                    </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </li>

                    <li>
                        <h3> Links</h3>

                        <div class="links">
                            <p>
                                <a href="#">Solstice DataSDK-Java Github Source Repository</a><br>
                                Open source projects started by Terso for Solstice Data™ including the Solstice Data SDK and Solstice Data developer reference application licensed under Apache 2.0.
                            </p>

                            <p>
                                <a href="#">Solstice Data SDK Javadoc</a><br>
                                Terso Solutions' Github hosting of the Solstice DataSDK-Java JavaDoc
                            </p>
                        </div>

                    </li>

                    <li>
                        <h3>Prerequisites </h3>
                        <ul class="normal-ul">
                            <li>JRE 7 or higher</li>
                            <li>Eclipse IDE for Java EE Developers</li>
                        </ul>
                    </li>

                </ul>

            </div>

        </div>


        <div class="clear"></div>
    </div>

</section>
<!--body area end-->

