
@{
    ViewBag.Title = "GetConfigValuesCommand";
    Layout = "~/Views/Shared/_Documentation.cshtml";
}


    <h2>GetConfigValuesCommand</h2>

    <ul class="nav nav-pills">
        <li><a href="#execution2">Execution</a> </li>
        <li><a href="#description2">Description</a> </li>
        <li><a href="#request2">Request</a></li>
        <li><a href="#response2">Response</a></li>
        <li><a href="#example2">Example</a></li>
    </ul>

    <!-- Execution -->
    <h3 id="execution2">Execution</h3>

    <div class="assnormalbox">
        <div class="table-responsive">
            <div class="bs-example">
                <table class="table table-hover dashtable table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th> Online  </th>
                            <th> Offline  </th>
                        </tr>
                        <tr>
                            <td> Immediate Execution, Immediate and Published Results  </td>
                            <td> Queued Execution, Published Results  </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- description -->
    <h3 id="description2">Description</h3>
    <p> GetConfigValuesCommand instructs the device to return its current configuration values. </p>


    <!-- Request -->
    <h3 id="request2">Request</h3>
    <div class="assnormalbox">
        <div class="table-responsive">
            <div class="bs-example">
                <table class="table table-hover dashtable table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th> Name  </th>
                            <th> Description  </th>
                            <th> Required  </th>
                        </tr>
                        <tr>
                            <td> AccessKey  </td>
                            <td> GetConfigValuesCommand  </td>
                            <td> Yes  </td>
                        </tr>
                        <tr>
                            <td> Action  </td>
                            <td> The AccessKey for your user account.  </td>
                            <td> Yes  </td>
                        </tr>
                        <tr>
                            <td> LogicalDeviceId   </td>
                            <td> The logical device identifier from <a href="/AddLogicalDevice">AddLogicalDevice</a>.   </td>
                            <td> Yes  </td>
                        </tr>
                        <tr>
                            <td> Parameters   </td>
                            <td> The parameter names you want the values returned for. Parameter names should be split by an underscore(_). If the Parameters argument is left null all parameters are returned.    </td>
                            <td> No   </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="alert alert-info">
        <strong>More Info!</strong> Complete documentation on a <a href="/GetDeviceDefinitions">DeviceDefinition's</a> parameters can be found on
        its <a href="/Enclosures">Device</a> page.
    </div>

    <!-- Response -->
    <h3 id="response2"> Response</h3>

    <div class="assnormalbox">
        <div class="table-responsive">
            <div class="bs-example">
                <table class="table table-hover dashtable table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th> Code </th>
                            <th> Name </th>
                            <th> Description </th>
                        </tr>
                        <tr>
                            <td> 200 </td>
                            <td> Success </td>
                            <td> Indicates that the request is successful. </td>
                        </tr>
                        <tr>
                            <td> 400 </td>
                            <td> InvalidParameter </td>
                            <td> Indicates that a request parameter does not comply with the associated constraints. </td>
                        </tr>
                        <tr>
                            <td> 401 </td>
                            <td> Unauthorized </td>
                            <td> Indicates that the user has been denied access to the requested resource. </td>
                        </tr>
                        <tr>
                            <td> 500 </td>
                            <td> InternalError </td>
                            <td> Indicates an internal service error. </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- Image -->
    <div class="pull-right">
        <button class="btn btn-default btn-mini" type="button"><i class="glyphicon glyphicon-download"></i> Download</button>
    </div>

    <div class="tab-img"><img src="images/GetConfigValuesCommand.png" alt=""></div>

    <!-- Example -->
    <h3 id="example2">Example</h3>

    <p>Request</p>
    <pre>https://Solstice.tersosolutions.com/v1.5/application/?
AccessKey=MyAccessKey
&amp;Action=GetConfigValuesCommand
&amp;LogicalDeviceId=MyLogicalDeviceId
&amp;Parameters=IP_SubNet_Gateway
                            </pre>
    <p>Response </p>
    <pre> &lt;Solstice xmlns="http://Solstice.TersoSolutions.com/v1.5/CommandResponse"&gt;
 &lt;Header/&gt;
 &lt;CommandResponse CommandId="862bef90-c7f9-43cd-bdcc-1eb1cf41fa7b" &gt;
 &lt;OutputParameterList&gt;
     &lt;OutputParameter Name="gateway" Value="10.6.10.1"/&gt;
     &lt;OutputParameter Name="ip" Value="10.6.20.241"/&gt;
     &lt;OutputParameter Name="subnet" Value="255.255.255.0"/&gt;
 &lt;/OutputParameterList&gt;
 &lt;ExceptionList/&gt;
 &lt;DeviceExtensionList /&gt;
 &lt;/CommandResponse&gt;
 &lt;/Solstice&gt;
                            </pre>
    <p>Published CommandQueuedEvent  </p>
    <pre>&lt;Solstice xmlns="http://Solstice.TersoSolutions.com/v1.5/CommandQueuedEvent"&gt;
&lt;Header EventId="d58ab84f-36e7-497f-b097-66f615b633cd" EventTime="2012-10-05T19:25:41Z"
LogicalDeviceId="MyLogicalDeviceId" /&gt;
&lt;CommandQueuedEvent CommandId="862bef90-c7f9-43cd-bdcc-1eb1cf41fa7b"
   CommandName="GetConfigValuesCommand" UserName="MyUserName"&gt;
      &lt;ParameterList&gt;
           &lt;Parameter Name="Parameter1" Value="gateway" /&gt;
           &lt;Parameter Name="Parameter2" Value="ip" /&gt;
           &lt;Parameter Name="Parameter3" Value="subnet" /&gt;
      &lt;/ParameterList&gt;
&lt;/CommandQueuedEvent&gt;
&lt;/Solstice&gt;
</pre>
    <p>Published CommandCompletionEvent </p>
    <pre> &lt;Solstice xmlns="http://Solstice.TersoSolutions.com/v1.0/CommandCompletionEvent"&gt;
        &lt;Header EventId="4d06e13d-25a8-4dd7-b0e9-79d0aa91add0" EventTime="2012-10-05T20:01:41Z"
         ReceivedTime="2012-10-05T20:01:43Z"/&gt;
        &lt;CommandCompletionEvent CommandId="862bef90-c7f9-43cd-bdcc-1eb1cf41fa7b"&gt;
            &lt;OutputParameterList&gt;
                &lt;OutputParameter Name="gateway" Value="10.6.10.1"/&gt;
                &lt;OutputParameter Name="ip" Value="10.6.20.241"/&gt;
                &lt;OutputParameter Name="subnet" Value="255.255.255.0"/&gt;
            &lt;/OutputParameterList&gt;
            &lt;ExceptionList/&gt;
            &lt;DeviceExtensionList /&gt;
        &lt;/CommandCompletionEvent&gt;
    &lt;/Solstice&gt;
</pre>

